h1{
    text-align: center;
    position: center;
}

button{
    text-align: center;
    border-radius: 20px;
    box-shadow: 100px;
    transition: 0.8;
    background-color: antiquewhite;
    cursor: pointer;
}

button::content {
    color: rgb(128, 255, 0);
}


button a:hover 

.flex{
    display: flex;
}

body {
    background-color: rgb(60, 200, 220);
}