h1{
    text-align: center;
    position: center;
}

button{
    text-align: center;
    border-radius: 20px;
    box-shadow: 100px;
    transition: 0.8;
}

button a:hover {
    color: rgb(128, 255, 0);
}

body{
    background-color: darkcyan;
    border-radius: 10px;
}

.flex{
    display: flex;
}